<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Some Website</title>
  </head>
  <body>
    {{> header}}
    <p>project page text would go here</p>

    {{> footer}}  <!-- ">" işareti "hbs.registerPartials" de tanımladığın path'e gider ve orada footer isimli partial view dosyasını arar. -->
  </body>
</html>
